#define_operand_type 12 = CONST
#define_operand_type 10 = CONST
#define_operand_type putchar@PLT = MEM
#define_operand_type 28 = CONST


        sub     esp, 12
        push    10
        call    putchar@PLT
        add     esp, 28
        pop     ebx
        pop     esi
        pop     edi
        pop     ebp
        ret