#define_operand_type iv_string = MEM

#define_operand_type 4[esp] = MEM
#define_operand_type DWORD PTR -4[ecx] = MEM
#define_operand_type DWORD PTR -28[ebp] = MEM

#define_operand_type -16 = CONST
#define_operand_type 56 = CONST


    ; set up the stack frame?
    lea ecx, 4[esp]
    and esp, -16
    push DWORD PTR -4[ecx]
    push ebp
    mov ebp, esp
    push edi
    push esi
    push ebx
    push ecx
    sub esp, 56
    
    xor eax, eax
    mov eax, esp
    mov edi, eax
    jmp iv_string
