#define_operand_type crypto_ord_is_67_99 = MEM
#define_operand_type crypto_ord_68_100 = MEM

#define_operand_type BYTE PTR -4[ebp] = MEM

#define_operand_type 67 = CONST
#define_operand_type 99 = CONST


    cmp BYTE PTR -4[ebp], 67
    je crypto_ord_is_67_99
    ; check if it's equal to 'c'
    cmp BYTE PTR -4[ebp], 99
    jne crypto_ord_68_100
