#define_operand_type crypto_ord_52 = MEM

#define_operand_type BYTE PTR -4[ebp] = MEM

#define_operand_type 51 = CONST
#define_operand_type 3 = CONST


    cmp BYTE PTR -4[ebp], 51
    jne crypto_ord_52
    mov eax, 3
    leave
    ret
