#define_operand_type crypto_ord_is_68_100 = MEM
#define_operand_type crypto_ord_69_101 = MEM

#define_operand_type BYTE PTR -4[ebp] = MEM

#define_operand_type 68 = CONST
#define_operand_type 100 = CONST


    cmp BYTE PTR -4[ebp], 68
    je crypto_ord_is_68_100
    ; check if it's equal to 'd'
    cmp BYTE PTR -4[ebp], 100
    jne crypto_ord_69_101
