#define_operand_type DWORD PTR -8[ebp] = MEM
#define_operand_type DWORD PTR 12[ebp] = MEM

#define_operand_type 48 = CONST
#define_operand_type 1 = CONST


    mov edx, DWORD PTR -8[ebp]
    mov eax, DWORD PTR 12[ebp]
    add eax, edx
    mov BYTE PTR [eax], 48
    sub DWORD PTR -8[ebp], 1
