#define_operand_type crypto_strlen_check_for_null_byte = MEM

#define_operand_type DWORD PTR -4[ebp] = MEM

#define_operand_type 16 = CONST


    ; set up the stack frame
    push ebp
    mov ebp, esp
    sub esp, 16

    ; store the length counter in -4[ebp]
    xor eax, eax
    mov DWORD PTR -4[ebp], eax
    jmp crypto_strlen_check_for_null_byte
