#define_operand_type crypto_ord_54 = MEM

#define_operand_type BYTE PTR -4[ebp] = MEM

#define_operand_type 53 = CONST
#define_operand_type 5 = CONST


    cmp BYTE PTR -4[ebp], 53
    jne crypto_ord_54
    mov eax, 5
    leave
    ret
