#define_operand_type 20 = CONST
#define_operand_type __x86.get_pc_thunk.bx = MEM
#define_operand_type OFFSET FLAT:_GLOBAL_OFFSET_TABLE_ = CONST
#define_operand_type DWORD PTR stderr@GOT[ebx] = MEM
#define_operand_type ERR_print_errors_fp@PLT = MEM
#define_operand_type abort@PLT = MEM


        push    ebx
        sub     esp, 20
        call    __x86.get_pc_thunk.bx
        add     ebx, OFFSET FLAT:_GLOBAL_OFFSET_TABLE_
        push    DWORD PTR stderr@GOT[ebx]
        pop     eax
        push    DWORD PTR [eax]
        call    ERR_print_errors_fp@PLT
        call    abort@PLT